/* Menu de navegação */
nav {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  margin: 0px 10px 10px;
}

p.is-break-mobile {
  display: none;
}

.nav__menu {
  top: 10px;
  position: relative;
}

.nav__menu .nav__menu-item {
  font-family: "Alata";
  display: inline;
  padding: 0px 10px;
}

@media (max-width: 375px) {
  p.is-break-mobile {
    display: block;
    margin: 0;
  }

  .nav__menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    transition: all 0.2s;
  }

  .nav__menu.is-active {
    display: block;
  }

  .nav__brand.is-open::before {
    content: "\00D7";
    font-size: 35px;
    position: fixed;
    right: 20px;
    cursor: pointer;
  }

  .nav__brand {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu {
    position: fixed;
    top: 200px;
  }

  .nav__menu .nav__menu-item {
    font-family: "Josefin Sans";
    font-size: 25px;
    text-transform: uppercase;
    margin: 20px 25px;
    cursor: pointer;
  }

  .header {
    height: 500px;
    background-size: 280% 90%;
    background-position: -380px 0px;
    background-image: url(../../images/mobile/image-hero.jpg);
  }
}

header {
  color: hsl(0, 0%, 100%);
}

.header {
  height: 600px;
  background-repeat: no-repeat;
  background-image: url(../../images/desktop/image-hero.jpg);
}

.header .header__body {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  padding: 20px;
  margin: 80px 20px 0px 20px;
  font-size: 40px;
  border: 2px hsl(0, 0%, 100%) solid;
}
